@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  overflow: hidden;
  color:  #212121;
}

a {
  color: var(--teal-8);
}

.ctr {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: auto;
}

.card {
  border-radius: 8px;
  border: solid 1px #E6E6E6;
  width: 100%;
  padding: 24px;
}