@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  overflow: hidden;
  color:  #212121;
}

a {
  color: var(--teal-8);
}

input {
  padding: 6px 12px;
  border: 1px solid var(--grey-25);
  border-radius: 6px;
}

.input-ctr {
  position: relative;
  max-width: 300px;
}

.input-ctr input {
  width: 100%;
}

.input-ctr span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-60); 
}

.ctr {
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  margin: auto;
}

.fee-row {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 16px;
}

.fee-row-summary {
  padding-top: 12px;
  color: var(--grey-70);
}

.card {
  border-radius: 8px;
  border: solid 1px var(--grey-10);
  width: 100%;
  padding: 24px;
}

/* space */
.card > *:not(:last-child) {
  margin-bottom: 32px;
}

.card-fee h6 {
  font-size: 16px;
}

.card-fee p {
  font-size: 20px;
}

.card-calculations {
  width: 100%;
  border-top: solid 1px var(--grey-10);
  margin-top: 12px;
  padding-top: 12px;
}

